body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.stage {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #444;
}

#motionVideo {
  display: none;
}

#character {
  position: absolute;
  width: 200px;
  left: 100px;
  top: 100px;
  transition: transform 0.1s linear;
}
